<!-- Example of some common setting formations. -->
<!DOCTYPE settings PUBLIC "-//LES//Settings//EN" "file:./Settings.dtd">

<settings>
	<global>
		<element name="settings.icon.text" type="String">
			<description value="icon.text.description" />
			<default value="Encuestas 2" />
			<length min="1" max="50" />
		</element>
		<element name="settings.log.promptName" type="String">
			<description value="settings.log.promptName.description" />
			<default value="Log" />
			<length max="500" />
		</element>
		<element name="settings.log.server" type="String">
			<description value="settings.log.server.description" />
			<length min="2" max="100" />
		</element>
		<element name="settings.log.shareName" type="String">
			<description value="settings.log.shareName.description" />
			<length min="0" max="50" />
		</element>
		<element name="settings.log.path" type="String">
			<description value="settings.log.path.description" />
			<length min="0" max="100" />
		</element>
		<element name="settings.log.domain" type="String">
			<description value="settings.log.domain.description" />
			<length min="0" max="100" />
		</element>
		<element name="settings.network.user" type="String">
			<description value="settings.network.user.description" />
			<length min="0" max="30" />
		</element>
		<element name="settings.network.password" type="String"
			subtype="Password">
			<description value="settings.network.password.description" />
			<length min="0" max="30" />
		</element>
		<element name="settings.sucursal" type="String">
			<description value="settings.sucursal.description" />
			<length min="1" max="50" />
		</element>
		<layout>
			<group title="appsetting.title">
				<settingref name="settings.icon.text" />
			</group>
			<group title="networkuser.title">
				<description value="networkuser.description" />
				<settingref name="settings.network.user" />
				<settingref name="settings.network.password" />
			</group>
			<group title="log.title">
				<description value="log.description" />
				<settingref name="settings.sucursal" />
				<settingref name="settings.log.promptName" />
				<settingref name="settings.log.server" />
				<settingref name="settings.log.shareName" />
				<settingref name="settings.log.path" />
				<settingref name="settings.log.domain" />
			</group>
		</layout>
	</global>

	<factory name="settings.surveyTitle">
		<esf:display pattern="settings.inst.pattern">
			<esf:param value="settings.instanceName" />
		</esf:display>
		<element name="settings.instanceJson" type="String">
			<description value="settings.instanceJson.description" />
		</element>
		<element name="settings.instanceName" type="String">
			<description value="settings.instanceName.description" />
			<length min="1" max="100" />
		</element>
		<element name="settings.instanceBegin" type="String">
			<description value="settings.instanceBegin.description" />
			<length min="0" max="10" />
		</element>
		<element name="settings.instanceEnd" type="String">
			<description value="settings.instanceEnd.description" />
			<length min="0" max="10" />
		</element>
		<layout>
			<group title="settings.instanceSurvey">
				<settingref name="settings.instanceName" />
				<settingref name="settings.instanceBegin" />
				<settingref name="settings.instanceEnd" />
				<settingref name="settings.instanceJson" control="textarea" />
			</group>
		</layout>
	</factory>
</settings>
